@font-face {
  font-family: "iconfont"; /* Project id 4347910 */
  src: url('//at.alicdn.com/t/c/font_4347910_4ha7ly24vbo.woff2?t=1701429136858') format('woff2'),
       url('//at.alicdn.com/t/c/font_4347910_4ha7ly24vbo.woff?t=1701429136858') format('woff'),
       url('//at.alicdn.com/t/c/font_4347910_4ha7ly24vbo.ttf?t=1701429136858') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 48px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bofang:before {
  content: "\e607";
}

.icon-kuaitui:before {
  content: "\e68e";
}

.icon-kuaijin:before {
  content: "\e68f";
}

.icon-bofangzhong:before {
  content: "\e690";
}

.icon-zanting:before {
  content: "\e691";
}

.icon-shangyiqu:before {
  content: "\e692";
}

.icon-xiayiqu:before {
  content: "\e693";
}

.icon-lishibofang:before {
  content: "\e694";
}

.icon-bofangliebiao:before {
  content: "\e696";
}

.icon-yinliang:before {
  content: "\e698";
}

.icon-suijibofang:before {
  content: "\e6a0";
}

.icon-shunxubofang:before {
  content: "\e6a1";
}

.icon-danquxunhuan:before {
  content: "\e6a2";
}

.icon-liebiaoxunhuan:before {
  content: "\e6a3";
}

.icon-tianjiadao:before {
  content: "\e6a4";
}

